/*CSS for index.html*/

div.home {

display:flex;
flex-direction:column-reverse;
align-items:flex-start;

}

article{
flex: 1 0 25vw;
background-color: white;
padding:0.3em;
text-align:justify;
}

aside{
flex: 1 0 20vw;
background-color: white;
padding:0.3em;
text-align:justify;

}

div.thumbs {

	display: flex;
	flex-direction:row;
	flex-flow:wrap;
	Justify-content:space-around;
	background-color: #24314A ;
	margin-bottom: .5em;
	padding:1em

}
div.thumbs figure{
	width:9vw;
	margin: 0.2em;
	padding:0;
}

div.thumbs figure img{
	width:15vw;
}

main  {
display: inline-flex;
flex-direction: row;
align-items: top;
justify-content: space-evenly;
margin: 2em;
padding: .5em;
border: 10px dotted #CF4FAA;
/*border-top-right-radius: 100px;*/

}


main > * {
margin: 0.3em;

}
