


main  {
display: flex;
flex-direction: row;
align-items: top;
justify-content: space-around;
margin: 2em;
padding: 1em;
border: 10px dotted #CF4FAA;
background-color:white;
/*border-top-right-radius: 100px;*/

}

main.portfolio  {
display: flex;
flex-direction: column;
align-items: top;
justify-content: space-around;
margin: 2em;
padding: 1em;
border: 10px dotted #CF4FAA;
background-color:white;
/*border-top-right-radius: 100px;*/

}

}
main > * {
margin: 0.3em;
}


main ul {
	list-style: none;
	width:60vw;
	margin: 0 auto;
	padding-left: 0;
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content:space-evenly;

}

main nav li {
  font-size: 1em;
  font-weight: bold;
text-shadow: 1px 1px #24314A;
font-family: 'Gloria Hallelujah', cursive;
color: #24314A;
width: 10em;
background-color: #7EE2C7;
text-align:center;
border-radius:100px;
margin:1em;
}

main nav li a {
display:block;
border-radius:100px;
}

main nav li a:hover {
	background-color: #BAF2C7;
}

Article{
  text-align:justify;
}

div.about {
text-align:center;
}

div.articles ul{
	list-style: none;

	margin: 0 auto;
	padding-left: 0;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content:space-evenly;
}

div.articles li{
	font-size: 1em;
	font-weight: bold;
font-family: 'Gloria Hallelujah', cursive;
background-color:#F5D2CF;
color:#D97C90;
text-align:center;
margin: .1em;
width:40vw;
border-radius:100px;
}

div.articles li a {
display:block;
border-radius:100px;
color:#D97C90;
}

div.articles li a:hover {
	background-color:#D97C90;
	color:#F5D2CF;
}

div.portfolio{
	display:flex;
	flex-direction:row-reverse;
	justify-content:space-evenly;
	flex-wrap:wrap-reverse;
}

div.portfolio figure{
	margin:1em;
	padding:0;
	width:20vw;
	height:20vw;
	border-radius:50px;
	overflow:hidden;
}

div.portfolio img{
	width:20vw;

	border-radius:50px;
}


div.portfolio figure:hover{
		overflow:hidden;
	border-radius:100px;
	width:20vw;
	height: 20vw;
}

div.portfolio img:hover{
	border-radius:100px;
	width:20vw;
	margin:0em;
}

div.skeletons figure{
	margin:0;
	padding:0;
	width:75vw;
}

div.skeletons img{
width:75vw;
border-radius: 10px;
}

div.minicomics figure{
	margin:.5em;
	padding:0;
	width:20vw;
}

div.minicomics img{
width:20vw;
border-radius: 50px;
}


div.skeletons img:hover{
width:75vw;
border-radius:50px;
}


div.minicomics img:hover{
width:20vw;
border-radius:100px;
}
main.comics{
	display: flex;
	flex-direction:column;
	justify-content:space-evenly;
	align-items: center;
}

div.minicomics {
	display: flex;
	flex-direction:row;
	justify-content:space-evenly;
	flex-wrap: wrap;
}

nav.readnow li {

}

nav.readnow li{
	font-size: 1em;
	font-weight: bold;
font-family: 'Gloria Hallelujah', cursive;
background-color:#F5D2CF;
color:#D97C90;
width: 10em;
text-align:center;
margin: .1em;
width:30em;
border-radius:100px;
}

nav.readnow li a {
display:block;
border-radius:100px;
color:#D97C90;
}

nav.readnow li a:hover {
	background-color:#D97C90;
	color:#F5D2CF;
}
blockquote{
	display:block;
	padding:1em;
	background-color:#BAF2C7;
	border-radius:20px;
}

blockquote:hover{
	display:block;
	border-radius:100px;
}

div.thumbs {

	display: flex;
	flex-direction:row;
	flex-flow:wrap;
	Justify-content:space-around;
	margin-bottom: .5em;
	padding:1em

}
div.thumbs figure{
	width:15vw;
	margin: 0.2em;
	padding:0;
	border-radius:50px;
}

div.thumbs figure img{
	width:15vw;
	border-radius:50px;
}

div.thumbs figure:hover{
	border-radius:100px;
}

div.thumbs img:hover{
	border-radius:100px;
}

div.promo ul{
	list-style: none;

	margin: 0 auto;
	padding-left: 0;
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content:space-evenly;
}

div.promo li{
	font-size: 1em;
	font-weight: bold;
font-family: 'Gloria Hallelujah', cursive;
background-color:#F5D2CF;
color:#D97C90;
text-align:center;
margin: .1em;
width:40vw;
border-radius:100px;
}

div.promo a {
display:block;
border-radius:100px;
color:#D97C90;
}

div.promo a:hover {
	background-color:#D97C90;
	color:#F5D2CF;
}
